
body {
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    /* color: #fff; */
}

header {
    background-color: #cc5500; /* темно-оранжевий фон */
    color: #ffffff;
    text-align: center;
    padding: 30px;
    border-bottom: 5px solid #ff9800;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header h3 {
    font-size: 28px;
    margin: 10px 0 0 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.button {
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    background: #ff9800;
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-decoration: none;
    /* cursor: pointer; */
    font-weight: bold;
    /* transition: 0.3s; */
}

section {
    margin: 30px auto;
    padding: 40px;
    border-radius: 12px;
    /* max-width: 1000px; */
    /* background-size: 400% 400%; */
    /* animation: gradientBG 15s ease infinite; */
}

h2 {
    font-size: 36px;
    color: #000000;
}

h3 {
    font-size: 28px;
    color: #000000;
}

p {
    font-size: 22px;
    margin: 8px 0;
}
