body {
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #ffffff 
}

header {
    background-color: #ffee00; 
    color: #0e2c99;
    text-align: center;
    padding: 30px;
    border-bottom: 5px solid #2b00ff;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header h3 {
    font-size: 28px;
    margin: 10px 0 0 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.button {
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    background: #ff9800;
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}
   

section {
    margin: 30px auto;
    padding: 40px;
    border-radius: 12px;

}

h2 {
    font-size: 36px;
    color: #000000;
}

h3 {
    font-size: 28px;
    color: #000000;
}

p {
    font-size: 22px;
    margin: 8px 0;
}
