body {
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #ffffff 
}

header {
    background-color: #002aff;
    color: #01a5d2;
    text-align: center;
    padding: 30px;
    border-bottom: 5px solid #0011ff;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header h3 {
    font-size: 28px;
    margin: 10px 0 0 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.button {
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    background: #0800ff;
    color: rgb(2, 248, 248);
    font-size: 22px;
    text-decoration: none;
   
    font-weight: bold;
  
}

section {
    margin: 30px auto;
    padding: 40px;
    border-radius: 12px;
    /* max-width: 1000px; */
    /* background-size: 400% 400%; */
    /* animation: gradientBG 15s ease infinite; */
}

h2 {
    font-size: 36px;
    color: #000000;
}

h3 {
    font-size: 28px;
    color: #000000;
}

p {
    font-size: 22px;
    margin: 8px 0;
}
